extends ../common/app

block content 
    .card
        .card-header
            .row 
                .col-10
                    .fs-1=ticket[0].department
                    .fs-3=ticket[0].user.username
                .col-2.position-relative
                    if ticket[0].priority == 3
                        span.badge.rounded-circle.bg-danger.p-4.position-absolute.start-50.top-50.translate-middle
                            span 
                    if ticket[0].priority == 2
                        span.badge.rounded-circle.bg-warning.p-4.position-absolute.start-50.top-50.translate-middle
                            span 
                    if ticket[0].priority == 1
                        span.badge.rounded-circle.bg-success.p-4.position-absolute.start-50.top-50.translate-middle
                            span 

        .card-body(style='min-height: 250px')= ticket[0].description

        .card-footer.fs-4#attachments Anexos
            ol.fs-5.list-group.list-group-vertical.my-3
                each file in ticket[0].files
                    li.list-group-item
                        a(href="/uploads/"+file.name target='popup')= file.originalName
                else
                    div Nenhum anexo
